@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --blue: #3f4eff;
    --green: #44c76a;
    --yellow: #ffb786;
    --orange: #f15c6d;
    --black: #1f3086;
    --shadow: #c5d6f1;
}

html {
    background: linear-gradient(#fff, #edf1fa 40%);
    background-repeat: repeat-x;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#guy_svg, #background-svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    pointer-events: none;
}

.active {
  fill: var(--orange);
  z-index: 100;
}

@media (max-width: 960px) {
    main {
        max-width: 40vw;
    }
    .svg_content {
        transform: translate(380px, -5.5vh) scale(0.9);
    }
}

@media(max-width: 640px) {
    br {
        display: inherit;
    }
    
    h1 {
        margin-top: -3.5vmax;
    }
    
    main {
        max-width: 35vw;
    }
    
    #contact_wrapper h3 {
        width: 35vw;
    }
        
    .svg_content {
        transform: translate(80px, -7.5vh) scale(0.8);
    }
}
